.mob-ver {

    display: none;

    @media (max-width: 767px) {
        height: 100%;
        display: block;
        text-align: center;
        color: #fff;
        background:
            url(/src/img/mob-ver-banner-bgc.png) no-repeat center 65%,
            url(/src//img/baloon-left-bgi-mob-ver.png) no-repeat 68% 57%,
            url(/src/img/baloon-left-bgi-mob-ver.png) no-repeat 12% 58%;
        background-size: initial;
    }
}

.mob-ver__header-text {
    margin-top: 47px;
}

.mob-ver__site-logo {
    @media (max-width: 767px) {
        text-align: center;
        display: block;

        & img {
            margin: 0 auto;
            outline: none;
        }
    }

}

.mob-ver__title {
    @media (max-width: 767px) {
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 34px;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

}

.mob-ver__phone {
    @media (max-width: 767px) {
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 16px;
        text-decoration: none;
        color: #fff;
    }

}

.mob-ver__working.routine {
    @media (max-width: 767px) {
        font-size: 1.6rem;
        line-height: 20px;
    }
}


.mob-ver__carousel {
    height: 155px;
}


.mob-ver .mob-ver__carousel {
    width: 90%;
    max-width: 400px;
    height: 155px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 42px;
}

.mob-ver .owl-carousel .owl-stage-outer .owl-stage .owl-item {
    height: 155px;
}

.mob-ver .mob-ver__carousel .owl-item {
    height: 155px;
    position: relative;
    overflow: visible;
}

.mob-ver .mob-ver__carousel .owl-item .discount-wrapper {
    background: linear-gradient(113.09deg, #FFE7C2 3.33%, #FFFFFF 48.33%, #FFE8C6 99.52%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 136px;
}

.mob-ver .owl-carousel .owl-stage-outer .owl-stage .owl-item .mob-ver__carousel-order-btn {
    bottom: 3px;
    left: 50%;
    transform: translate(-50%);
}

















.mob-ver__baloon {
    position: absolute;
    left: 8px;
    top: 4px;
}

.volume.discount-wrapper__volume {
    position: absolute;
    color: #0F0F0F;
    font-size: 1.6rem;
    top: 62px;
    left: 11px;
}

.mob-ver__baloon2 {
    position: absolute;
    left: 17px;
    width: 111px;
    top: 23px;
    @media(max-width: 422px) {
        left: 8px;

    }

    @media(max-width: 410px) {
        left: 8px;
        width: 95px;

    }

    @media(max-width: 345px) {
        left: 0;
    }
}



.mob-ver__plus {
    position: absolute;
    top: 66px;
    left: 47px;

}
.mob-ver__car {
    position: absolute;
    top: 52px;
    left: 79px;
}
.mob-ver__carousel-text {
    color: #422D2D;
    font-size: 1.6rem;
    text-align: start;
    position: absolute;
    top: 14px;
    right: 5%;
    line-height: 25px;
    @media (max-width: 360px) {
        font-size: 1.2rem;
    }
}

.mob-ver__carousel-text span {
    font-weight: 700;
}

.mob-ver__plus2 {
    position: absolute;
    top: 65px;
    left: 153px;
    @media(max-width: 415px) {
        left: 130px;
    }

    @media(max-width: 410px) {
        left: 116px;
    }

    @media(max-width: 355px) {
        left: 108px;
    }

    @media(max-width: 345px) {
        left: 100px;
    }



}
.mob-ver__car2 {
    position: absolute;
    top: 51px;
    right: 128px;
    @media(max-width: 415px) {
        right: 143px;
    }

    @media(max-width: 393px) {
        right: 133px;
    }

    @media(max-width: 378px) {

        right: 120px;
    }

    @media(max-width: 366px) {
        right: 110px;
        
    }

    @media(max-width: 334px) {
        right: 90px;
    }

 



}
.mob-ver__total2 {
     position: absolute;
     top: 73px;
     right: 99px;
     @media(max-width: 415px) {
        right: 116px;
    }

    @media(max-width: 383px) {
        right: 104px;
    }

    @media(max-width: 378px) {

        right: 99px;
    }

    @media(max-width: 366px) {
        right: 90px;
        
    }

    @media(max-width: 334px) {
        right: 75px;
    }



}
.mob-ver__price {
    position: absolute;
    top: 67px;
    right: 35px;
    @media(max-width: 415px) {
        right: 58px;
    }

    @media(max-width: 383px) {
        right: 40px;
    }

    @media(max-width: 366px) {
        right: 30px;
        
    }

    @media(max-width: 334px) {
        right: 18px;
    }






}
.mob-ver__rur {
     position: absolute;
     top: 67px;
     right: 20px;

     @media(max-width: 415px) {
        right: 43px;
    }

    @media(max-width: 383px) {
        right: 25px;
    }

    @media(max-width: 366px) {
        right: 15px;
        
    }

    @media(max-width: 334px) {
        right: 3px;
    }


}


.mob-ver__header-link {
    color: #fff;
    border-bottom: 1px solid #fff;

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    line-height: 24px;
    display: inline-block;
}

.mob-ver__header-list {
    transition: all 3s linear;
    display: none;
    list-style: none;
    padding-inline-start: 0;
    margin: 0 auto;
    // max-width: 250px;
    width: 68%;

    background: linear-gradient(180deg, rgba(3, 3, 3, 0.29) 0%, #030303 50%);
    // opacity: .5;
    padding-bottom: 35px;
    border-radius: 30px 30px 0px 0px;
    padding-top: 60px;
    margin-top: 8vh;

}

.visiable {
    display: block;
    position: fixed;
    top: 35%;
    left: 50%;
    padding-top: 60px;
    padding-bottom: 5px;
    transform: translate(-50%, -50%);
    z-index: 9999999999999999;
    // transform: scale(.6);
}

.unvisiable {
    display: none;
}

.mob-ver__header-item {
    margin-bottom: 45px;
    
}