.delievery {
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.delievery__inner {
    text-align: center;

}

.delievery__title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 22px;
}

.delievery__text {
    font-size: 1.6rem;
    line-height: 20px;
}